@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-family: 'fredoka';
    background-image: url(img/mountains-1412683_1280.png);
    background-size: cover;
    
}

#select-pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titel {
    color: #F08080;
    font-size: 40px;
    margin-bottom: 1px;
}

.caption {
    font-size: 20px;
}

.instruction {
    font-size: 32px;
}

.cards {
    display: flex;
    gap: 10px;
}
.cards-pets {
    width: 150px;
    height: 200px;
    background-color: rgba(254, 253, 237, 0.8);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards-pets:hover{
    border: 3px solid #F08080;
    cursor: pointer;
}
.cards-pets img {
    width: 130px;
}

.pet {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

input{
    display: none;
}

button {
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #A1C398;
    background-color: #C6EBC5;
    font-size: 22px;
    font-weight: bold;
    font-family: 'fredoka';
}
#button-select-pet:hover {
    background-color: #FA7070;
    border: 2px solid #fd5a5a;
    color: white;
    cursor: pointer;
}
#button-fire:hover,
#button-earth:hover,
#button-water:hover,
#button-playAgain:hover {
    background-color: #A1C398;
    cursor: pointer;
}
#select-attack {
    flex-direction: column;
    align-items: center;
}

#messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    background-color: rgba(254, 253, 237, 0.8);
    color: black;
    border: 2px solid  #FA7070;
    font-size: 26px;
    font-weight: bold;
    margin-top: 2rem;
    border-radius: 8px;
    padding: 10px;
}

.life-counter {
    background-color: red;
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 3px;
}