@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'fredoka';
    background-image: url(img/mountains-1412683_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: "";
    position: fixed; /* Fija la capa sobre el fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 0, 128, 0.3);
    z-index: -1;
}
.select-pet-container,
.select-attack-container {
    margin: 1rem;
    text-align: center;
}
.select-pet-title,
.select-attack-title {
    font-size: 3.5rem;
    color: #800080;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    margin-bottom: 0.5rem;
}
.select-pet-caption {
    color: #ffff;
    background-color: rgba(128, 0, 128, 0.3);
    margin: 1rem 0 ;
}
.select-pet-instruction,
.select-attack-instruction {
    margin: 1rem;
}
button {
    margin-top: 2rem;
    width: 11rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: 2px solid #A1C398;
    background-color: #C6EBC5;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'fredoka';
}
button:hover {
    background-color: #fca1a1;
    border: 2px solid #fd5a5a;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.button-play-again:hover, 
.button-new-round:hover {
    background-color: #FA7070;
    border: 2px solid #fd5a5a;
    color: white;
}
.button-attack {
    margin: 0;
}
.lives-counter {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    width: 100%;
    height: 40rem;
    background-color: #ffffff;
    border-radius: 0.2rem;
    overflow-y: auto;
}
.lives-player,
.lives-opponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 2rem;
}
.life-player,
.life-opponent {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}
.player-stroke,
.opponent-stroke {
    font-size: 1.7rem;
    font-weight: bold;
    width: 100%;
    padding: 0rem 1rem;
}
.player-pet,
.opponent-pet {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FA7070;
    text-shadow: 0px 3px 2px black;
    margin: 1rem;
}
.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.cards-pets {
    width: 60%;
    height: 19rem;
    background-color: rgba(254, 253, 237, 0.8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1.1);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards-pets img {
    width: 15rem;
}
.cards-pets:hover {
    border: 3px solid #F08080;
    cursor: pointer;
}
input:checked+label {
    border: 3px solid #F08080;
    text-shadow: 0px 2px 2px #FA7070;
}
.pet {
    font-weight: bold;
    font-size: 2rem;
    margin: 0rem;
}

input {
    display: none;
}
.select-attack-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-attacks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.2rem;
}
.finished-round {
    color: #FA7070;
    text-transform: uppercase;
}
.messages-container {
    text-align: center;
    width: 95%;
    background-color: rgba(254, 253, 237, 0.8);
    color: black;
    border: 2px solid white;
    border-radius: 1.2rem;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}
@media (min-width: 768px) {
    .select-pet-container,
    .select-attack-container {
        margin: 3rem;
    }
    .select-pet-title, 
    .select-attack-title {
        font-size: 4.5rem;
        margin-bottom: 1.5rem;
    }
    .select-pet-caption {
        margin: 1.5rem 0;
        font-size: 2.3rem;
    }
    .select-pet-instruction, 
    .select-attack-instruction {
        font-size: 2.5rem;
        margin: 1.5rem;
    }
    .container-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .cards-pets {
        width: 90%;
        height: 25rem;
    }
    .cards-pets img {
        width: 18rem;
    }
    .Ratigueya {
        grid-column: 1 / 3;
        width: 45%;
    }
    button {
        margin-top: 3rem;
        width: 15rem;
        height: 5rem;
        font-size: 2rem;
    }
    .messages-container {
        font-size: 2.5rem;
        padding: 0.5rem;
    }
    .player-pet, 
    .opponent-pet {
        font-size: 3rem;
    }
    .player-stroke, 
    .opponent-stroke {
        font-size: 2rem;
        padding: 0rem 1.5rem;
    }
    .button-new-round,
    .button-play-again {
        margin-top: 1rem;
    }
}
@media (min-width: 1440px) {
    .select-pet-container,
    .select-attack-container {
        margin: 5rem;
    }
    .select-pet-title, 
    .select-attack-title {
        font-size: 5rem;
        margin-bottom: 2rem;
    }
    .select-pet-caption {
        margin: 2rem 0;
        font-size: 2.5rem;
    }
    .select-pet-instruction,
    .select-attack-instruction {
        font-size: 3rem;
        margin: 1.5rem;
    }
    .container-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 0.2rem;
    }
    .cards-pets {
        width: 90%;
        height: 30rem;
    }
    .cards-pets img {
        width: 20rem;
    }
    .Ratigueya {
        grid-column: 3 / 4;
    }
    button {
        margin-top: 4rem;
        width: 18rem;
        height: 6rem;
        font-size: 2.5rem;
    }
    .messages-container {
        font-size: 3rem;
        padding: 1rem;
    }
    .player-pet, 
    .opponent-pet {
        font-size: 3.5rem;
    }
    .player-stroke, 
    .opponent-stroke {
        font-size: 2.5rem;
        padding: 0rem 1.5rem;
    }
}