@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

html,
body {
    font-family: 'fredoka';
    background-image: url(img/mountains-1412683_1280.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

#select-pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #F08080;
    font-size: 40px;
    margin-bottom: 1px;
}

.caption {
    font-size: 20px;
}

.instruction {
    font-size: 32px;
}

.cards {
    display: flex;
    gap: 10px;
}

.cards-pets {
    width: 150px;
    height: 200px;
    background-color: rgba(254, 253, 237, 0.8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1.1);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-pets:hover {
    border: 3px solid #F08080;
    cursor: pointer;
}

.cards-pets img {
    width: 130px;
}

.pet {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

input {
    display: none;
}

input:checked+label {
    border: 3px solid #F08080;
    text-shadow: 0px 2px 2px #FA7070;
}

button {
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #A1C398;
    background-color: #C6EBC5;
    font-size: 22px;
    font-weight: bold;
    font-family: 'fredoka';
}

#button-select-pet:hover {
    background-color: #FA7070;
    border: 2px solid #fd5a5a;
    color: white;
    cursor: pointer;
}

#button-fire:hover,
#button-earth:hover,
#button-water:hover,
#button-playAgain:hover {
    background-color: #A1C398;
    cursor: pointer;
}

#select-attack {
    flex-direction: column;
    align-items: center;
}

#messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    background-color: rgba(254, 253, 237, 0.8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 20.3);
    color: black;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 26px;
    font-weight: bold;
    margin-top: 2rem;
    padding: 10px;
}

.life-counter {
    display: grid;
    grid-template-columns: 100px 100px;
    justify-items: center;
    text-align: center;
    gap: 4rem;
    height: 180px;
    width: 285px;
    margin: 1.5rem;
    background-color: rgba(254, 253, 237, 0.8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 20.3);
    padding: 1rem 3rem;
    border: 2px solid white;
    border-radius: 8px;
    overflow-y: auto;
}

#life-player,
#life-opponent {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

#player-pet,
#opponent-pet {
    font-size: 30px;
    font-weight: bold;
    color: #FA7070;
    text-shadow: 4px 3px 3px black;
    margin: 1rem;
}

#stroke-player,
#stroke-opponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    padding: 0.2rem;
}


@media (min-width: 1440px) {
    html {
        height: 100%;
    }
}

@media (min-width: 768px) {
    html {
        height: 100%;
    }
}

@media (max-width: 390px) {
    .cards {
        flex-direction: column;
    }

    .cards-pets {
        width: 190px;
    }

    button {
        margin: 30px 0px;
    }

    .button-attack {
        display: flex;
        flex-direction: column;
    }

    #button-fire,
    #button-earth,
    #button-water {
        margin: 0.5rem 0;
    }

    .life-counter {
        grid-template-columns: 90px 90px;
        gap: 3rem;
        margin: 1rem;
        height: 165px;
        width: 254px;
    }

    #player-pet,
    #opponent-pet {
        font-size: 27px;
    }

    #stroke-player,
    #stroke-opponent {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 48px;
    }

    .cards {
        gap: 10px;
    }

    .cards-pets {
        width: 220px;
        height: 260px;
    }

    .pet {
        font-size: 28px;
    }

    .cards-pets img {
        width: 160px;
    }
}

@media (max-width: 1440px) {
    .title {
        font-size: 48px;
    }

    .cards-pets {
        width: 220px;
        height: 260px;
    }

    .pet {
        font-size: 28px;
    }

    .cards-pets img {
        width: 160px;
    }
}

@media (min-width: 1669px) {
    .title {
        font-size: 70px;
    }

    .caption {
        font-size: 30px;
    }

    .instruction {
        font-size: 36px;
    }

    .cards {
        gap: 30px;
    }

    .cards-pets {
        width: 255px;
        height: 300px;
    }

    .pet {
        font-size: 38px;
    }

    .cards-pets img {
        width: 194px;
    }

    button {
        width: 294px;
        height: 70px;
        font-size: 36px;
    }

    #messages {
        width: 430px;
        font-size: 34px;
    }

    .life-counter {
        height: 208px;
        width: 390px;
        gap: 10rem;
    }

    #life-player,
    #life-opponent {
        font-size: 30px;
    }

    #player-pet,
    #opponent-pet {
        font-size: 34px;
    }

    #stroke-player,
    #stroke-opponent {
        font-size: 28px;
    }
}